#container-iframe {
    
    position: absolute;
    display: inline-block;
    vertical-align: top;
}

div.canvas {
    
    display: inline-block;
    vertical-align: top;
    margin: 12pt !important;
    background-color: white;
}

div.canvas h1.course {

    background-color: #f0e68c;
    margin-bottom: 8pt !important;
}

div.canvas section.course {
    
}

div.canvas section.course + h1.course {
    
    margin-top: 16pt !important;
}

div.canvas div.canvas-stack {

    display: inline-block;
    vertical-align: top;
}

div.canvas div.canvas-stack > div {

    height: 20px;
    white-space: nowrap;
    border: 1pt solid #dcd3b2;
    margin: 2pt !important;
    padding: 2pt 4pt !important;
}

div.canvas div.canvas-stack > div.date {

    color: #5b6356;
    font-weight: bold !important;
}

div.canvas div.canvas-stack > div.boat {

    min-width: 40pt;
    color: white;
    background-color: #cbb994;
    font-weight: bold !important;
}

div.canvas div.canvas-stack > .closing-day {

    background-color: #e7e7eb;
}

div.canvas div.canvas-stack > .sunday {
    
    background-color: #fdeff2;
}

div.canvas div.canvas-stack > .monday {

}

div.canvas div.canvas-stack > .tuesday {

}

div.canvas div.canvas-stack > .wednesday {

}

div.canvas div.canvas-stack > .thursday {

}

div.canvas div.canvas-stack > .friday {

}

div.canvas div.canvas-stack > .saturday {

    background-color: #eaf4fc;
}

div.canvas div.canvas-date-stack {

    width: 70pt;
}

div.canvas div.canvas-plan-stack {

}

div.canvas div.canvas-plan-stack > div {

    text-align: center;
}

div.canvas div.boat {
    
}

div.canvas div.course {
    
}

div.canvas div.states {
    
}

div.canvas div.state {
    
}

div.canvas span.label {
    
}

div.canvas span.label:after {
    
    content: ':';
    
    margin-left: 4pt;
    margin-right: 10pt;
}

div.canvas span.value {
    
}

div.canvas span.date {
    
}

div.canvas .availability {
    
}

div.canvas .availability-skip {
    
    color: #c8c2be;
}

div.canvas .availability-valid {
    
    color: #89c3eb;
}

div.canvas .availability-invalid {
    
    color: #c9171e;
}
