<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>script.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Canvas.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>PlanCanvas.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Plan.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>State.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>StateIterator.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Endpoint.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Response.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Page.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>DateComponents.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Boat.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Script</key>
				<string>Course.js</string>
			</dict>
		</array>
		<key>SFSafariStyleSheet</key>
		<array>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://d-marina.resv.jp/reserve/calendar.php</string>
				</array>
				<key>Style Sheet</key>
				<string>styles.css</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>$(ES_TOOLBARITEM_ICON)</string>
			<key>Label</key>
			<string>Show All Availabilities</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>d-marina.resv.jp</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>NSHumanReadableDescription</key>
	<string>This is an Safari App Extension that is useful for scheduling a boat rental with D-marina. This tool is unoficcial.</string>
</dict>
</plist>
